body {
    color: #868e96;
}

a:link { 
    text-decoration: none; 
}

a:hover,
a:focus,
a:active {
    color: #824027;
}

.active {
    left: -1px;
}

.error {
    color: #EB5E28;
}

div.alert .close {
    top: 15px !important;
}

.fe-hide {
    display: none;
}

.fe-hidden {
    visibility: hidden;
}

.fe-pointer {
    cursor: pointer;
}

.fe-left {
    float: left;
}

.fe-right {
    float: right;
}

.fe-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fe-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}