body,
.footer .copyright {
    color: #868e96;
}

.sidebar[data-background-color="tema"]:after,
.sidebar[data-background-color="tema"]:before,
.off-canvas-sidebar[data-background-color="tema"]:after,
.off-canvas-sidebar[data-background-color="tema"]:before {
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 2;
}

.sidebar[data-background-color="tema"] .user,
.off-canvas-sidebar[data-background-color="tema"] .user {
    position: relative;
    z-index: 4;
}

.sidebar[data-background-color="tema"] .user:after,
.off-canvas-sidebar[data-background-color="tema"] .user:after {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar[data-background-color="tema"] .user .info a,
.off-canvas-sidebar[data-background-color="tema"] .user .info a {
    color: #FFFFFF;
}

.sidebar[data-background-color="tema"] .logo:before,
.off-canvas-sidebar[data-background-color="tema"] .logo:before {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar[data-background-color="tema"] .logo p,
.off-canvas-sidebar[data-background-color="tema"] .logo p {
    color: #FFFFFF;
}

.sidebar[data-background-color="tema"] .logo .simple-text,
.off-canvas-sidebar[data-background-color="tema"] .logo .simple-text {
    color: #FFFFFF;
}

.sidebar[data-background-color="tema"] .nav li:not(.active)>a,
.off-canvas-sidebar[data-background-color="tema"] .nav li:not(.active)>a {
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.250) 0.1em 0.1em 0.1em;
}

.sidebar[data-background-color="tema"] .nav .divider,
.off-canvas-sidebar[data-background-color="tema"] .nav .divider {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar[data-background-color="tema"][data-active-color="tema"] .nav li.active>a,
.off-canvas-sidebar[data-background-color="tema"][data-active-color="tema"] .nav li.active>a {
    opacity: 1;
    text-shadow: rgba(0, 0, 0, 0.250) 0.1em 0.1em 0.1em;
}

.sidebar[data-background-color="tema"] .info a,
.off-canvas-sidebar[data-background-color="tema"] .info a {
    color: #FFFFFF;
}

.sidebar[data-background-color="tema"] .user .photo,
.off-canvas-sidebar[data-background-color="tema"] .user .photo {
    border-color: rgba(255, 255, 255, 0.3);
}

a:link { 
    text-decoration: none; 
}

.active {
    left: -1px;
}

.error {
    color: #EB5E28;
}

div.alert .close {
    top: 15px !important;
}

.card-user .image div {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.fe-hide {
    display: none;
}

.fe-hidden {
    visibility: hidden;
}

.fe-pointer {
    cursor: pointer;
}

.fe-left {
    float: left;
}

.fe-right {
    float: right;
}

.fe-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fe-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fe-carregando {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
}

.fe-carregado {
    display: none;
}

.fe-zoom-out {
    animation: zoom-out 2s;
}
  
@keyframes zoom-out {
    0% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}