/* --------------
 * estilos global
/* -------------- */

a:link { 
    text-decoration: none; 
}

.active {
    left: -1px;
}

.fe-hide {
    display: none;
}

.fe-hidden {
    visibility: hidden;
}

.fe-pointer {
    cursor: pointer;
}

.fe-left {
    float: left;
}

.fe-right {
    float: right;
}

.fe-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fe-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* ------------------------
 * estilos para o dashboard
/* ------------------------ */

.fe-icone-dashboard {
    position: absolute;
    width: 30px;
    margin-top: 5px;
    margin-left: 25px;
}

.fe-logo-dashboard {
    position: relative;
    width: 125px;
    margin-left: 63px;
}


/* ---------------------
 * estilos para o perfil
/* --------------------- */

.fe-ajuste-wrapper {
    margin-top: -35px;
    height: calc(100% - 1px) !important;
}

.fe-remove-logo {
    height: 0 !important;
    top: -50px;
}

.fe-remove-logo::before {
    display: none;
}

.fe-foto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #887d6e;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.fe-menu-perfil-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .fe-menu-perfil-mobile {
        display: block;
        background-color: #f4f3ef;
        border-bottom: 1px solid #cfcfca;
    }
    .fe-menu-perfil-mobile span {
        background-color: #66615b !important;
    }
    section.fe-resume-section {
        padding: 16% .01rem 16% .01rem !important;
    }
}

.fe-main-perfil {
    margin-top: -95px;
}

.fe-nav-link {
    padding-top: 25px !important;
    margin-bottom: -24px !important;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

li .fe-nav-link p {
    font-size: 13px;
}

li:not(.active) .fe-nav-link p {
    opacity: .4;
}

li:not(.active) .fe-nav-link:hover p {
    opacity: .8;
}

.fe-hr {
    width: calc(100% + 30px);
    margin-left: -15px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
}

section.fe-resume-section {
    padding: 16% 1.7rem 16% 1.7rem;
    min-height: 100vh;
}