/* --------------
 * estilos global
/* -------------- */

a:link { 
    text-decoration: none; 
}

.fe-hide {
    display: none;
}

.fe-hidden {
    visibility: hidden;
}

.fe-pointer {
    cursor: pointer;
}

.fe-left {
    float: left;
}

.fe-right {
    float: right;
}

.fe-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fe-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.active {
    left: -1px;
}


/* ------------------------
 * estilos para o dashboard
/* ------------------------ */

.fe-icone-dashboard {
    position: absolute;
    width: 30px;
    margin-top: 5px;
    margin-left: 25px;
}

.fe-logo-dashboard {
    position: relative;
    width: 125px;
    margin-left: 63px;
}


/* ---------------------
 * estilos para o perfil
/* --------------------- */

.fe-ajuste-wrapper {
    margin-top: -35px;
    height: 100% !important;
}

.fe-remove-logo {
    height: 0 !important;
}

.fe-remove-logo::before {
    display: none;
}

.fe-foto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #978b7b;
}

.fe-menu-perfil-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .fe-logo-perfil {
        margin-left: 0;
    }
    .fe-menu-perfil-mobile {
        display: block;
        background-color: #f4f3ef;
        border-bottom: 1px solid #cfcfca;
    }
    .fe-menu-perfil-mobile span {
        background-color: #66615b !important;
    }
}

.nav-link {
    padding-top: 25px !important;
    margin-bottom: -24px !important;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

li .nav-link p {
    font-size: 13px;
}

li:not(.active) .nav-link p {
    opacity: .4;
}

li:not(.active) .nav-link:hover p {
    opacity: .8;
}